.regist
  .regist__user
    %h2 ユーザー新規登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :名前
      %em (最大6文字)
      %br/
      = f.text_field :name, autofocus: true, maxlength: "6", class: "field__form"
    .field
      = f.label :Eメールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "field__form"
    .field
      = f.label :パスワード
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: "field__form"
    .field
      = f.label :パスワード確認
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "field__form"
    .actions
      = f.submit "登録", class: "actions__btn"
  = render "devise/shared/links"
